.card {
  grid-area: inventory;
  width: 240px;
  height: 250px;
  border: 2px solid var(--color-secondary-f1);
  background-color: var(--color-primary-b2);

  &-title {
    padding-left: 10px;
    padding-right: 10px;

    &-text {
      color: var(--color-secondary-f2);
      font-size: var(--type-size-2);
      font-weight: var(--type-weight-3);
    }
  }
}
