:root {
  // Color naming scheme:
  // Colors are named --color-<group>-<part><number>
  //   <group> is primary, secondary, tertiary...
  //   <part> is either b (background), f (foreground), a (accent).
  //   <number> roughly means darkness.

  --color-primary-b1: #1a1a1a; // site background
  --color-primary-b2: #111; // card background
  --color-primary-f1: #fff; // text
  --color-secondary-f1: #707070; // version text && border
  --color-secondary-f2: #bfbf00; // card title
  --color-secondary-f3: #ffae57; // action text
  --color-secondary-f4: #bbe67e; // object text
  --color-secondary-f5: #a3a3a3; // volume slider
  --color-secondary-b1: #b09117; // footbar background
  --color-accent-f1: #ba325a; // root card title
}
